label{
    font-size: large;
}
textarea {
    width: max-content;
}
label+textarea{
    display: flex;
    justify-self: center;
    background-color: lightgray;
}
input{
    font: 1em sans-serif;
    padding: 6px;
}

form {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-content: start  ;
    /* font: 20px sans-serif; */
    padding: 20px;
    width: 100vh;
    
}
.date-and-time{
    display: grid;
    /* grid-template-columns: repeat(2, minmax(0, 1fr)); */
    grid-auto-flow: column;
    
}
.checkbox-div{
    display: flex;
    flex-direction: column;
}

input[type=checkbox]{
    display: inline;
    margin-right: 20px;
    height: fit-content;
}

label+input {
    display: flex;
    justify-self: center;
    background-color: lightgray;
    
    
}